@media(max-width:575px){
    .head_no{
        display: none;
    }
   .nav_button{
    margin-left: 0;
    margin-bottom: 10px;
    width: 120px;
   }
   .modal{
    overflow: auto;
   }
   .reg_inner{
    padding:0;
  }
  .reg_inner h4{
    font-size: 20px;
  }
  .log_txt{
    padding: 30px;
  }
}
@media (min-width:576px) and (max-width:767.98px){

}
@media (min-width:768px) and (max-width:991.98px){

}

@media (min-width:992px) and (max-width:1199.98px){

}

@media (min-width:1200px) and (max-width:1399.98px){ 
  
}
@media(max-width:1400px){}