<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dr.hub Admin</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/admin.css">



</head>

<body>

  <!-- partial:index.partial.html -->
  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="images/adminpropic.png" />
      <br><br>
      <h6>Admin</h6>
      
    </header>
    <ul>
      <li tabindex="0" class="icon-dashboard"> <a style="color:white; text-decoration:none;" href="/admin-dashboard"><span>Dashboard</span></a> </li>
      <li tabindex="0" class="icon-customers"> <a style="color:white; text-decoration:none;" href="/admin-doctor"><span>Doctor</span></a></li>
      <li tabindex="0" class="icon-users"> <a style="color:white; text-decoration:none;" href="/admin-patient"><span>Patient</span></a></li>
      <li tabindex="0" class="icon-calendar"> <a style="color:white; text-decoration:none;" href="/admin-appointment"><span>Appointment</span></a></li>
    </ul>
  </nav>

  <main>


    <!-- nav start -->
    <div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#337AB7;">
        <a href="/admin-dashboard" class="navbar-brand">HOSPITAL MANAGEMENT</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 90%;">

            <a href="/logout" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </nav>
    </div>
    

    <section id="dashboard_card">
     <div class="container">
      <div class="row market-updates">
        
        <div class="col-lg-4 market-update-block clr-block-1">
            <div class="row justify-content-between">
            <div class="col-lg-8 ">
                <div class="market-update-left">
              <!-- <h3>{{doctorcount}}</h3> -->
              <h4>Total Doctor</h4>
              <p>Approval Required : {{pendingdoctorcount}}</p>
              </div>
            </div>
            <div class="col-lg-4">
               <div class=" market-update-right">

              <i class="fa fa-user-md"></i>
              </div>
             </div>
            <!-- <div class="clearfix"> </div> -->
          </div>
        </div>
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-2">
            <div class="col-md-8 market-update-left">
              <!-- <h3>{{patientcount}}</h3> -->
              <h4>Total Patient</h4>
              <p>Wants to Admit : {{pendingpatientcount}}</p>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-user-o"></i>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-4 market-update-gd">
          <div class="market-update-block clr-block-3">
            <div class="col-md-8 market-update-left">
              <!-- <h3>{{appointmentcount}}</h3> -->
              <h4>Total Appointment</h4>
              <p>Approve Appointments :{{pendingappointmentcount}} </p>
            </div>
            <div class="col-md-4 market-update-right">
              <i class="fa fa-calendar"> </i>
            </div>
            <!-- <div class="clearfix"> </div> -->
          </div>
        </div>
        <!-- <div class="clearfix"> </div> -->
       </div>
      </div>
    </section>

      <div class="container">
        <div class="row">
          <div class="panel panel-primary col-md-5" style="margin-left:2%;">
            <div class="panel-heading" style="text-align:center;">
              <h6 class="panel-title">Recent Doctors</h6>
            </div>
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Mobile</th>
                  <th>Status</th>
      
                </tr>
              </thead>
              <!-- {% for d in doctors %} -->
              <tr>
                <td> shjha</td>
                <td>dkueff</td>
                <td>iocs</td>
                <!-- {%if d.status%} -->
                <td> <span class="label label-primary">Permanent</span></td>
                <!-- {% else %} -->
                <td> <span class="label label-success">On Hold</span></td>
                <!-- {% endif %} -->
      
              </tr>
              <!-- {% endfor %} -->
            </table>
          </div>
      
          <div class="panel panel-primary col-md-5" style="margin-left:5%;">
            <div class="panel-heading" style="text-align:center;">
              <h6 class="panel-title">Recent Patient</h6>
            </div>
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Symptoms</th>
                  <th>Mobile</th>
                  <th>Address</th>
                  <th>Status</th>
      
                </tr>
              </thead>
              <!-- {% for p in patients %} -->
              <tr>
                <td> sjudyd</td>
                <td>jfuhj</td>
                <td>0198273</td>
                <td>fjegtui</td>
                <!-- {%if p.status%} -->
                <td> <span class="label label-primary">Admitted</span></td>
                <!-- {% else %} -->
                <td> <span class="label label-success">On Hold</span></td>
                <!-- {% endif %} -->
      
              </tr>
              <!-- {% endfor %} -->
            </table>
          </div>
        </div>
      </div>
    <footer>
      <p>
        <a id="ftr" href="#" class="fa fa-facebook"></a>
        <a id="ftr" href="#" class="fa fa-whatsapp"></a>
        <a id="ftr" href="#" class="fa fa-instagram"></a>
        <a id="ftr" href="#" class="fa fa-twitter"></a>
      </p>
    </footer>
    </main>

 

<!-- js links -->
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/slick.min.js"></script>  
<script src="js/venobox.min.js"></script> 
<script src="js/custom.js"></script>
</body>

</html>
